In [ ]:
pip install gensim | pip install --upgrade gensim

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gensim in /usr/local/lib/python3.8/dist-packages (4.3.0)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.8/dist-packages (from gensim) (6.3.0)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.8/dist-packages (from gensim) (1.22.4)
Requirement already satisfied: scipy>=1.7.0 in /usr/local/lib/python3.8/dist-packages (from gensim) (1.10.1)
Requirement already satisfied: FuzzyTM>=0.4.0 in /usr/local/lib/python3.8/dist-packages (from gensim) (2.0.5)
Requirement already satisfied: pyfume in /usr/local/lib/python3.8/dist-packages (from FuzzyTM>=0.4.0->gensim) (0.2.25)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from FuzzyTM>=0.4.0->gensim) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->FuzzyTM>=0.4.0->gensim) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->FuzzyTM>=0.4.0->gensim) (2022.7.1)
Requirement already satisfied: fst-pso in /usr/local/lib/python3.8/dist-packages (from pyfume->FuzzyTM>=0.4.0->gensim) (1.8.1)
Requirement already satisfied: simpful in /usr/local/lib/python3.8/dist-packages (from pyfume->FuzzyTM>=0.4.0->gensim) (2.10.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->FuzzyTM>=0.4.0->gensim) (1.15.0)
Requirement already satisfied: miniful in /usr/local/lib/python3.8/dist-packages (from fst-pso->pyfume->FuzzyTM>=0.4.0->gensim) (0.0.6)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from simpful->pyfume->FuzzyTM>=0.4.0->gensim) (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->simpful->pyfume->FuzzyTM>=0.4.0->gensim) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->simpful->pyfume->FuzzyTM>=0.4.0->gensim) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->simpful->pyfume->FuzzyTM>=0.4.0->gensim) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->simpful->pyfume->FuzzyTM>=0.4.0->gensim) (4.0.0)

In [ ]:
from gensim.models import Word2Vec, KeyedVectors
import gensim.models
import nltk
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join

#newmodel = gensim.models.KeyedVectors.load_word2vec_format(<path to reducedvector.bin>, binary=True)

#mypath = 'crop_part1'
#onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]
#len = len(onlyfiles)

##**Task Set #1: Here you will use distributional vectors trained using Google’s deep learning Word2vec system.**

##Q1: 
We will use the target words - man and woman. Use the pre-trained word2vec model to rank the following 15 words from the most similar to the least similar to each target word. For each word-target word pair, provide the similarity score. Provide your results in table format.
wife
husband
child
queen
king
man
woman
birth
doctor
nurse
teacher
professor
engineer
scientist
president

In [ ]:
#the line below loads the pre-trained Word2vec model
newmodel = gensim.models.KeyedVectors.load_word2vec_format('reducedvector.bin', binary=True)

In [ ]:
# Define the target words
target_words = ['man', 'woman']

# Define the list of words to rank
word_list = ['wife', 'husband', 'child', 'queen', 'king', 'man', 'woman', 'birth', 'doctor', 'nurse', 'teacher', 'professor', 'engineer', 'scientist', 'president']

# Print the table header
print('{:15s} {:15s} {:15s}'.format('Word', 'Similar to Man', 'Similar to Woman'))

# Loop through each word in the word list
for word in word_list:
    # Calculate the similarity score for the word and each target word
    man_sim = newmodel.similarity(word, target_words[0])
    woman_sim = newmodel.similarity(word, target_words[1])
    
    # Print the word and its similarity scores
    print('{:15s} {:.4f} {:15s} {:.4f}'.format(word, man_sim, '', woman_sim))

Word            Similar to Man  Similar to Woman
wife            0.2835                 0.3007
husband         0.2341                 0.4496
child           0.3334                 0.5898
queen           0.1104                 0.2286
king            0.2645                 0.1225
man             1.0000                 0.5877
woman           0.5877                 1.0000
birth           0.1234                 0.4203
doctor          0.2892                 0.1961
nurse           0.1535                 0.2544
teacher         0.0987                 0.2041
professor       0.1076                 0.1052
engineer        0.0874                 0.0443
scientist       0.1123                 0.1373
president       0.0946                 0.0846

##Q2: 
The Bigger Analogy Test Set (BATS) Word analogy task has been one of the standard benchmarks
for word embeddings since 2013 (https://vecto.space/projects/BATS/ ). A) Select any file from the
downloaded dataset (BATS_3.0.zip). For each row in your selected file, choose a target word from the
row and provide the measure of similarity between your target word and the other words on the row
(Remember to document the file used). B) Think of three words that identify membership in one of the
protected classes (choose only one class): race, color, religion, or national origin. For each row in your
selected BATS_3.0 file, compute the similarity between your target word and each of your three words.
Indicate when there are noticeable differences in the similarity scores based on membership in the
protected class. Provide your results in table format.

In [ ]:
#country_capital = 'E01 [country - capital].txt'
#data = pd.read_csv(country_capital, sep="\t", header=None)
#data.columns = ["worda", "wordb"]


#data['Similarity'] = data.apply(lambda row: newmodel.similarity(row.worda, row.wordb), axis=1)

#data.to_csv(r'country_capital_similarity.csv', index=None, header=True)
#def compute_similarity_df_of_target(target, df):
#  df[target] = df.apply(lambda row: newmodel.similarity(target, row.wordb), axis=1)
#  return df

##target_words = ['hindu', 'muslim', 'christian']
#target_words = ['niger', 'mali', 'italy']

#for word in target_words:
#  compute_similarity_df_of_target(word, data)

In [ ]:
import random
#import gensim
import os

## set the path to the downloaded dataset
#dataset_path = "path/to/BATS_3.0"

# load the pre-trained word2vec model
#model_path = "path/to/pre-trained/word2vec/model"
#model = gensim.models.KeyedVectors.load_word2vec_format(model_path, binary=True)
model = gensim.models.KeyedVectors.load_word2vec_format('reducedvector.bin', binary=True)


# select the E01 [country - capital].txt file
filename = "E01 [country - capital].txt"

# read the selected file line by line
with open(filename, "r") as f:
    for line in f:
        # split the line into target and other words
        words = line.strip().split()
        target_word = random.choice(words)
        other_words = [word for word in words if word != target_word]

        # calculate similarity for each other word
        similarities = {}
        for word in other_words:
            try:
                similarity = model.similarity(target_word, word)
                similarities[word] = similarity
            except KeyError:
                continue

        # print the similarities
        print("Target word: ", target_word)
        for word, similarity in similarities.items():
            print(word, ": ", similarity)
        print()

Target word:  nigeria

Target word:  amman
jordan :  0.32452255

Target word:  turkey
ankara :  0.2951077

Target word:  greece
athens :  0.51070476

Target word:  baghdad
iraq :  0.5305512

Target word:  thailand
bangkok :  0.46890336

Target word:  china
beijing :  0.56142706

Target word:  lebanon
beirut :  0.5844345

Target word:  belgrade
serbia :  0.60130286

Target word:  berlin
germany :  0.55362153

Target word:  switzerland
bern :  0.4729466

Target word:  belgium
brussels :  0.5625071

Target word:  romania
bucharest :  0.46989092

Target word:  hungary
budapest :  0.51703984

Target word:  cairo
egypt :  0.48935854

Target word:  canberra
australia :  0.34367883

Target word:  guinea
conakry :  0.5251478

Target word:  denmark
copenhagen :  0.44661847

Target word:  syria
damascus :  0.604804

Target word:  dhaka
bangladesh :  0.45323506

Target word:  dublin
ireland :  0.43728414

Target word:  hanoi
vietnam :  0.33919048

Target word:  cuba
havana :  0.4849839

Target word:  helsinki
finland :  0.50370324

Target word:  pakistan
islamabad :  0.57465935

Target word:  indonesia
jakarta :  0.4288151

Target word:  kabul
afghanistan :  0.58106303

Target word:  kiev
ukraine :  0.4809033

Target word:  kingston
jamaica :  0.41654664

Target word:  lima
peru :  0.5814075

Target word:  portugal
lisbon :  0.42609632

Target word:  london

Target word:  madrid
spain :  0.38974234

Target word:  manila
philippines :  0.41501483

Target word:  moscow
russia :  0.4628907

Target word:  kenya
nairobi :  0.5891436

Target word:  norway
oslo :  0.4161061

Target word:  ottawa
canada :  0.5074189

Target word:  france
paris :  0.48489687

Target word:  rome
italy :  0.44624

Target word:  chile
santiago :  0.4505333

Target word:  bulgaria
sofia :  0.30064997

Target word:  sweden
stockholm :  0.58504677

Target word:  taiwan
taipei :  0.65781975

Target word:  tbilisi
georgia :  0.48339292

Target word:  tehran
iran :  0.44066894

Target word:  tokyo
japan :  0.47895756

Target word:  austria
vienna :  0.5364096

Target word:  poland
warsaw :  0.559183

Target word:  croatia
zagreb :  0.4985986

In [ ]:
# Load the E01 [country - capital].txt file
with open('E02 [country - language].txt', 'r') as f:
    data = f.readlines()

# Define the target words
targets = ['brazil', 'egypt', 'cuba']  #['niger', 'mali', 'italy']

# Print table headers
print('{:<20}{:<20}{:<20}{:<20}'.format('Row', 'Target', 'Similarity to Target', 'Similarity to Targets'))

# Iterate over each row in the file
for i, row in enumerate(data):
    words = row.strip().split()
    target = np.random.choice(words)  # choose a random target word
    similarities = []  # to store similarities to target and target words
    for word in words:
      try:
        similarity = newmodel.similarity(target, word)
        similarities.append(similarity)
      except KeyError:
        continue
    # compute similarities to target words
    target_similarities = [newmodel.similarity(target, t) for t in targets]
    # print row data
    print('{:<20}{:<20}{:<20}{:<20}'.format(i+1, target, max(similarities), ', '.join(map(str, target_similarities))))

Row                 Target              Similarity to TargetSimilarity to Targets
1                   catalan             1.0                 0.33535448, 0.015112223, 0.1944874
2                   spanish             1.0                 0.31933144, 0.118534714, 0.3720445
3                   australia           1.0                 0.38127396, 0.13002697, 0.25139156
4                   austria             1.0                 0.28986394, 0.24120441, 0.23149465
5                   english             1.0                 0.08928749, -0.054947644, -0.026521971
6                   bangladesh          0.9999999403953552  0.42855862, 0.2665325, 0.38061264
7                   barbados            1.0                 0.49911553, 0.09804604, 0.48576283
8                   english             1.0                 0.08928749, -0.054947644, -0.026521971
9                   spanish             1.0                 0.31933144, 0.118534714, 0.3720445
10                  brazil              0.9999999403953552  0.99999994, 0.17430171, 0.54311204
11                  khmer               0.9999999403953552  0.2083131, 0.22462426, 0.29922965

KeyError: ignored

In [ ]:
import random
import os
#import zipfile
from gensim.models import KeyedVectors
from tabulate import tabulate

# Load the pre-trained Word2Vec model
#model_path = 'reducedvectors.bin'
#model = KeyedVectors.load_word2vec_format(model_path, binary=True)

model = KeyedVectors.load_word2vec_format('reducedvector.bin', binary=True)

## Select the E01 [country - capital].txt file from the downloaded dataset BATS_3.0.zip
#zip_path = 'BATS_3.0.zip'
#with zipfile.ZipFile(zip_path) as z:
#    with z.open('BATS_3.0/E01 [country - capital].txt') as f:
#        lines = f.read().decode('utf-8').splitlines()

with open('E01 [country - capital].txt') as f:
        #lines = f.read().decode('utf-8').splitlines()
        lines = f.read().splitlines()

# Initialize the results table
table = [['Row', 'Target Word', 'Similarity to Other Words', 'Similarity to Niger', 'Similarity to Mali', 'Similarity to Italy']]

# Loop through each row in the selected file
for i, line in enumerate(lines):
    try:
        # Choose a random target word from the row
        words = line.split()
        target_word = random.choice(words)
        print("The target word is: ", target_word)

        # Compute the similarity between the target word and the other words on the row
        similarities = [model.similarity(target_word, word) for word in words]

        # Compute the similarity between the target word and the three specified words
        niger_sim = model.similarity(target_word, 'niger')
        mali_sim = model.similarity(target_word, 'mali')
        italy_sim = model.similarity(target_word, 'italy')

        # Add the results to the table
        row = [i+1, target_word, similarities, niger_sim, mali_sim, italy_sim]
        table.append(row)

    except KeyError:
        # Skip the row if a key error is generated
        continue

# Print the results table
print(tabulate(table, headers='firstrow'))

The target word is:  abuja
The target word is:  amman
The target word is:  turkey
The target word is:  greece
The target word is:  baghdad
The target word is:  thailand
The target word is:  beijing
The target word is:  lebanon
The target word is:  belgrade
The target word is:  germany
The target word is:  switzerland
The target word is:  brussels
The target word is:  bucharest
The target word is:  budapest
The target word is:  cairo
The target word is:  australia
The target word is:  guinea
The target word is:  copenhagen
The target word is:  damascus
The target word is:  bangladesh
The target word is:  dublin
The target word is:  vietnam
The target word is:  havana
The target word is:  helsinki
The target word is:  islamabad
The target word is:  jakarta
The target word is:  kabul
The target word is:  ukraine
The target word is:  kingston
The target word is:  peru
The target word is:  lisbon
The target word is:  england/uk/britain
The target word is:  madrid
The target word is:  philippines
The target word is:  moscow
The target word is:  nairobi
The target word is:  norway
The target word is:  ottawa
The target word is:  france
The target word is:  italy
The target word is:  santiago
The target word is:  sofia
The target word is:  stockholm
The target word is:  taipei
The target word is:  tbilisi
The target word is:  iran
The target word is:  tokyo
The target word is:  austria
The target word is:  poland
The target word is:  zagreb
  Row  Target Word    Similarity to Other Words      Similarity to Niger    Similarity to Mali    Similarity to Italy
-----  -------------  ---------------------------  ---------------------  --------------------  ---------------------
    2  amman          [0.99999994, 0.32452255]                 0.376343              0.348145               0.224705
    3  turkey         [0.2951077, 1.0]                         0.475746              0.473512               0.601875
    4  greece         [0.51070476, 1.0]                        0.331451              0.44029                0.590924
    5  baghdad        [1.0, 0.5305512]                         0.206435              0.267437               0.237193
    6  thailand       [0.46890336, 0.99999994]                 0.545814              0.50752                0.388154
    7  beijing        [1.0, 0.56142706]                        0.315615              0.272403               0.119315
    8  lebanon        [0.5844345, 1.0]                         0.384251              0.384651               0.275971
    9  belgrade       [1.0, 0.60130286]                        0.376045              0.397636               0.416546
   10  germany        [0.55362153, 1.0]                        0.175905              0.208845               0.637352
   11  switzerland    [0.4729466, 1.0]                         0.2789                0.292414               0.628611
   12  brussels       [1.0, 0.5625071]                         0.313493              0.294689               0.332427
   13  bucharest      [0.99999994, 0.46989092]                 0.450239              0.423709               0.34815
   14  budapest       [0.99999994, 0.51703984]                 0.215203              0.239699               0.347115
   15  cairo          [0.99999994, 0.48935854]                 0.262354              0.277823               0.242532
   16  australia      [0.34367883, 1.0]                        0.202479              0.183715               0.387372
   17  guinea         [0.5251478, 1.0]                         0.643715              0.71389                0.144657
   18  copenhagen     [1.0, 0.44661847]                        0.162174              0.214494               0.210839
   19  damascus       [1.0, 0.604804]                          0.107305              0.133331               0.22386
   20  bangladesh     [0.45323506, 0.99999994]                 0.563048              0.562393               0.237028
   21  dublin         [1.0, 0.43728414]                        0.0392814             0.0943912              0.057045
   22  vietnam        [0.33919048, 1.0]                        0.351099              0.272567               0.30048
   23  havana         [1.0, 0.4849839]                         0.329571              0.283804               0.29016
   24  helsinki       [1.0, 0.50370324]                        0.289961              0.319788               0.260208
   25  islamabad      [0.99999994, 0.57465935]                 0.439243              0.437042               0.207801
   26  jakarta        [1.0, 0.4288151]                         0.366386              0.437797               0.0933146
   27  kabul          [1.0, 0.58106303]                        0.316343              0.37099                0.212665
   28  ukraine        [0.4809033, 1.0]                         0.457458              0.457062               0.521831
   29  kingston       [0.99999994, 0.41654664]                 0.291586              0.241931               0.12299
   30  peru           [0.5814075, 1.0]                         0.555149              0.520132               0.440419
   31  lisbon         [1.0, 0.42609632]                        0.197851              0.277033               0.246217
   33  madrid         [1.0, 0.38974234]                        0.164271              0.156943               0.297653
   34  philippines    [0.41501483, 0.99999994]                 0.512341              0.487621               0.421939
   35  moscow         [1.0, 0.4628907]                         0.157231              0.175006               0.277653
   36  nairobi        [0.99999994, 0.5891436]                  0.606466              0.544422               0.263257
   37  norway         [0.4161061, 1.0]                         0.31779               0.327994               0.535923
   38  ottawa         [1.0, 0.5074189]                         0.359278              0.324638               0.207588
   39  france         [0.48489687, 0.99999994]                 0.260872              0.313996               0.636397
   40  italy          [0.44624, 1.0]                           0.235496              0.28957                1
   41  santiago       [1.0, 0.4505333]                         0.29727               0.250458               0.23783
   42  sofia          [1.0, 0.30064997]                        0.363592              0.361498               0.218376
   43  stockholm      [0.99999994, 0.58504677]                 0.201825              0.220636               0.357562
   44  taipei         [1.0, 0.65781975]                        0.459365              0.445012               0.317256
   45  tbilisi        [1.0, 0.48339292]                        0.517062              0.579916               0.357567
   46  iran           [0.44066894, 1.0]                        0.422406              0.412666               0.301825
   47  tokyo          [1.0, 0.47895756]                        0.0927142             0.0985762              0.192056
   48  austria        [0.5364096, 1.0]                         0.166846              0.254933               0.594356
   49  poland         [0.559183, 1.0]                          0.269027              0.28901                0.535516
   50  zagreb         [1.0, 0.4985986]                         0.42709               0.415345               0.275185

In [ ]:
import os
import random
from tabulate import tabulate
import gensim

# set the paths for the necessary files
#bats_dir = 'path/to/BATS_3.0'
#model_file = 'path/to/reducedvector.bin'
e01_file = 'E01 [country - capital].txt'

# load the pre-trained Word2Vec model
model = gensim.models.KeyedVectors.load_word2vec_format('reducedvector.bin', binary=True)

# define a function to get the similarity between two words
def get_similarity(word1, word2):
    try:
        similarity = model.similarity(word1, word2)
        return round(similarity, 4)
    except KeyError:
        return None

# define the target words for step 2
target_words = ['niger', 'mali', 'italy']

# initialize the table headers and data
headers = ['Word 1', 'Word 2', 'Similarity', 'Similarity to Niger', 'Similarity to Mali', 'Similarity to Italy']
data = []

# read the lines of the E01 file and process each row
with open(e01_file, 'r') as f:
    for line in f:
        # split the line into two words
        words = line.strip().split('\t')
        word1, word2 = words[0], words[1]
        
        # choose a random target word from the row
        target_word = random.choice(words)
        print("\nthe target word is: ", target_word)
        
        # get the similarity between the target word and the other word on the row
        similarity = get_similarity(target_word, word1) or get_similarity(target_word, word2)
        
        # get the similarities between the target word and the three reference words
        sim_niger = get_similarity(target_word, 'niger')
        sim_mali = get_similarity(target_word, 'mali')
        sim_italy = get_similarity(target_word, 'italy')
        
        # add the results to the table data
        data.append([word1, word2, similarity, sim_niger, sim_mali, sim_italy])

# print the table
print(tabulate(data, headers=headers))

the target word is:  abuja

the target word is:  amman

the target word is:  ankara

the target word is:  athens

the target word is:  iraq

the target word is:  bangkok

the target word is:  china

the target word is:  beirut

the target word is:  belgrade

the target word is:  berlin

the target word is:  bern

the target word is:  brussels

the target word is:  romania

the target word is:  hungary

the target word is:  egypt

the target word is:  australia

the target word is:  conakry

the target word is:  denmark

the target word is:  syria

the target word is:  bangladesh

the target word is:  ireland

the target word is:  hanoi

the target word is:  cuba

the target word is:  finland

the target word is:  islamabad

the target word is:  indonesia

the target word is:  kabul

the target word is:

the target word is:  kingston

the target word is:  lima

the target word is:  lisbon

the target word is:  london

the target word is:  spain

the target word is:  philippines

the target word is:  moscow

the target word is:  nairobi

the target word is:

the target word is:  ottawa

the target word is:

the target word is:

the target word is:  santiago

the target word is:  sofia

the target word is:  stockholm

the target word is:  taipei

the target word is:  georgia

the target word is:  tehran

the target word is:  japan

the target word is:  austria

the target word is:  poland

the target word is:  zagreb
Word 1      Word 2                Similarity    Similarity to Niger    Similarity to Mali    Similarity to Italy
----------  ------------------  ------------  ---------------------  --------------------  ---------------------
abuja
amman                                 1                      0.3763                0.3481                 0.2247
ankara      turkey                    1                      0.289                 0.3855                 0.1875
athens      greece                    1                      0.0683                0.1677                 0.3041
baghdad     iraq                      0.5306                 0.2382                0.2233                 0.2368
bangkok     thailand                  1                      0.4878                0.4616                 0.2309
beijing     china                     0.5614                 0.3591                0.3296                 0.2944
beirut      lebanon                   1                      0.3594                0.338                  0.2343
belgrade    serbia                    1                      0.376                 0.3976                 0.4165
berlin      germany                   1                     -0.0299                0.016                  0.2602
bern                                  1                      0.3684                0.3645                 0.3287
brussels    belgium                   1                      0.3135                0.2947                 0.3324
bucharest   romania                   0.4699                 0.447                 0.4411                 0.6024
budapest    hungary                   0.517                  0.2212                0.3254                 0.5952
cairo                                 0.4894                 0.2995                0.3745                 0.4265
canberra    australia                 0.3437                 0.2025                0.1837                 0.3874
conakry     guinea                    1                      0.6729                0.6735                 0.3372
copenhagen  denmark                   0.4466                 0.2747                0.3442                 0.4938
damascus    syria                     0.6048                 0.3741                0.4006                 0.3945
dhaka                                 0.4532                 0.563                 0.5624                 0.237
dublin      ireland                   0.4373                 0.1101                0.1971                 0.3971
hanoi                                 1                      0.2628                0.1567                 0.0143
havana      cuba                      0.485                  0.4043                0.4038                 0.3442
helsinki    finland                   0.5037                 0.3479                0.3859                 0.4306
islamabad   pakistan                  1                      0.4392                0.437                  0.2078
jakarta     indonesia                 0.4288                 0.5629                0.5481                 0.316
kabul                                 1                      0.3163                0.371                  0.2127
kiev
kingston    jamaica                   1                      0.2916                0.2419                 0.123
lima                                  1                      0.4905                0.4776                 0.2679
lisbon      portugal                  1                      0.1979                0.277                  0.2462
london      england/uk/britain        1                      0.0178                0.012                  0.1441
madrid      spain                     0.3897                 0.2808                0.3216                 0.656
manila      philippines               0.415                  0.5123                0.4876                 0.4219
moscow      russia                    1                      0.1572                0.175                  0.2777
nairobi     kenya                     1                      0.6065                0.5444                 0.2633
oslo
ottawa      canada                    1                      0.3593                0.3246                 0.2076
paris
rome
santiago    chile                     1                      0.2973                0.2505                 0.2378
sofia                                 1                      0.3636                0.3615                 0.2184
stockholm   sweden                    1                      0.2018                0.2206                 0.3576
taipei      taiwan                    1                      0.4594                0.445                  0.3173
tbilisi     georgia                   0.4834                 0.3535                0.3638                 0.2416
tehran      iran                      1                      0.3631                0.347                  0.1962
tokyo                                 0.479                  0.2599                0.3259                 0.428
vienna      austria                   0.5364                 0.1668                0.2549                 0.5944
warsaw      poland                    0.5592                 0.269                 0.289                  0.5355
zagreb      croatia                   1                      0.4271                0.4153                 0.2752

In [ ]:
import os
import random
from gensim.models import KeyedVectors
from tabulate import tabulate

# Load the pre-trained Word2Vec model
#model_path = "reducedvector.bin"
model = KeyedVectors.load_word2vec_format('reducedvector.bin', binary=True)

# Select the E01 [country - capital].txt file
file_path = "E01 [country - capital].txt"

# Initialize the result table
result_table = [["Word Pair", "Random Target Word", "Similarity to Target Word", "Similarity to Niger", "Similarity to Mali", "Similarity to Italy"]]

# Iterate through each line in the file
with open(file_path, "r", encoding="utf-8") as f:
    for line in f:
        try:
            # Split the line into two words
            word_pair = line.strip().split()

            # Choose a random target word
            target_word = random.choice(word_pair)

            # Compute the similarity between the target word and the other word in the pair
            similarity_to_pair = model.similarity(target_word, [w for w in word_pair if w != target_word][0])

            # Compute the similarity between the target word and the three countries
            similarity_to_niger = model.similarity(target_word, "niger")
            similarity_to_mali = model.similarity(target_word, "mali")
            similarity_to_italy = model.similarity(target_word, "italy")

            # Append the result to the result table
            result_table.append([word_pair, target_word, similarity_to_pair, similarity_to_niger, similarity_to_mali, similarity_to_italy])
        except KeyError:
            continue

# Print the result table
print(tabulate(result_table, headers="firstrow", tablefmt="grid"))

+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| Word Pair                 | Random Target Word   |   Similarity to Target Word |   Similarity to Niger |   Similarity to Mali |   Similarity to Italy |
+===========================+======================+=============================+=======================+======================+=======================+
| ['amman', 'jordan']       | amman                |                    0.324523 |             0.376343  |           0.348145   |             0.224705  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['ankara', 'turkey']      | ankara               |                    0.295108 |             0.288966  |           0.385501   |             0.187538  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['athens', 'greece']      | athens               |                    0.510705 |             0.0682994 |           0.167693   |             0.30412   |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['baghdad', 'iraq']       | iraq                 |                    0.530551 |             0.238219  |           0.223336   |             0.236815  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['bangkok', 'thailand']   | thailand             |                    0.468903 |             0.545814  |           0.50752    |             0.388154  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['beijing', 'china']      | beijing              |                    0.561427 |             0.315615  |           0.272403   |             0.119315  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['beirut', 'lebanon']     | beirut               |                    0.584435 |             0.359446  |           0.338045   |             0.2343    |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['belgrade', 'serbia']    | belgrade             |                    0.601303 |             0.376045  |           0.397636   |             0.416546  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['berlin', 'germany']     | germany              |                    0.553622 |             0.175905  |           0.208845   |             0.637352  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['bern', 'switzerland']   | switzerland          |                    0.472947 |             0.2789    |           0.292414   |             0.628611  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['brussels', 'belgium']   | brussels             |                    0.562507 |             0.313493  |           0.294689   |             0.332427  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['bucharest', 'romania']  | romania              |                    0.469891 |             0.446976  |           0.44108    |             0.602443  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['budapest', 'hungary']   | budapest             |                    0.51704  |             0.215203  |           0.239699   |             0.347115  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['cairo', 'egypt']        | egypt                |                    0.489359 |             0.299507  |           0.37445    |             0.42649   |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['canberra', 'australia'] | australia            |                    0.343679 |             0.202479  |           0.183715   |             0.387372  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['conakry', 'guinea']     | guinea               |                    0.525148 |             0.643715  |           0.71389    |             0.144657  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['copenhagen', 'denmark'] | copenhagen           |                    0.446618 |             0.162174  |           0.214494   |             0.210839  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['damascus', 'syria']     | syria                |                    0.604804 |             0.374066  |           0.400626   |             0.394456  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['dhaka', 'bangladesh']   | dhaka                |                    0.453235 |             0.374322  |           0.354951   |             0.131674  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['dublin', 'ireland']     | ireland              |                    0.437284 |             0.110095  |           0.197061   |             0.397105  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['hanoi', 'vietnam']      | hanoi                |                    0.33919  |             0.262848  |           0.156738   |             0.0142575 |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['havana', 'cuba']        | cuba                 |                    0.484984 |             0.404263  |           0.40382    |             0.344214  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['helsinki', 'finland']   | finland              |                    0.503703 |             0.347921  |           0.385884   |             0.430574  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['islamabad', 'pakistan'] | pakistan             |                    0.574659 |             0.513078  |           0.523214   |             0.357543  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['jakarta', 'indonesia']  | indonesia            |                    0.428815 |             0.562938  |           0.54807    |             0.31601   |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['kabul', 'afghanistan']  | afghanistan          |                    0.581063 |             0.357975  |           0.407937   |             0.251124  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['kiev', 'ukraine']       | ukraine              |                    0.480903 |             0.457458  |           0.457062   |             0.521831  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['kingston', 'jamaica']   | jamaica              |                    0.416547 |             0.577146  |           0.584658   |             0.313172  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['lima', 'peru']          | lima                 |                    0.581407 |             0.490463  |           0.477576   |             0.267905  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['lisbon', 'portugal']    | lisbon               |                    0.426096 |             0.197851  |           0.277033   |             0.246217  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['madrid', 'spain']       | madrid               |                    0.389742 |             0.164271  |           0.156943   |             0.297653  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['manila', 'philippines'] | philippines          |                    0.415015 |             0.512341  |           0.487621   |             0.421939  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['moscow', 'russia']      | moscow               |                    0.462891 |             0.157231  |           0.175006   |             0.277653  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['nairobi', 'kenya']      | nairobi              |                    0.589144 |             0.606466  |           0.544422   |             0.263257  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['oslo', 'norway']        | oslo                 |                    0.416106 |             0.293264  |           0.25777    |             0.380327  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['ottawa', 'canada']      | canada               |                    0.507419 |             0.182492  |           0.157154   |             0.358455  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['paris', 'france']       | paris                |                    0.484897 |             0.033879  |           0.00171089 |             0.408882  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['rome', 'italy']         | rome                 |                    0.44624  |            -0.0644078 |           0.0818814  |             0.44624   |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['santiago', 'chile']     | santiago             |                    0.450533 |             0.29727   |           0.250458   |             0.23783   |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['sofia', 'bulgaria']     | sofia                |                    0.30065  |             0.363592  |           0.361498   |             0.218376  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['stockholm', 'sweden']   | stockholm            |                    0.585047 |             0.201825  |           0.220636   |             0.357562  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['taipei', 'taiwan']      | taiwan               |                    0.65782  |             0.454594  |           0.428525   |             0.254835  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['tbilisi', 'georgia']    | tbilisi              |                    0.483393 |             0.517062  |           0.579916   |             0.357567  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['tehran', 'iran']        | tehran               |                    0.440669 |             0.363128  |           0.346985   |             0.196175  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['tokyo', 'japan']        | japan                |                    0.478958 |             0.259931  |           0.325909   |             0.428024  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['vienna', 'austria']     | austria              |                    0.53641  |             0.166846  |           0.254933   |             0.594356  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['warsaw', 'poland']      | poland               |                    0.559183 |             0.269027  |           0.28901    |             0.535516  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+
| ['zagreb', 'croatia']     | croatia              |                    0.498599 |             0.510222  |           0.571782   |             0.556534  |
+---------------------------+----------------------+-----------------------------+-----------------------+----------------------+-----------------------+

##Q3: 
Sentences:
king is to throne as judge is to ___?
giant is to dwarf as genius is to ___?
college is to dean as jail is to ___?
arc is to circle as line is to ___?
French is to France as Dutch is to ___?
man is to woman as king is to ___?
water is to ice as liquid is to ___?
bad is to good as sad is to ___?
nurse is to hospital as teacher is to ___?
usa is to pizza as japan is to ___?
human is to house as dog is to ___?
grass is to green as sky is to ___?
video is to cassette as computer is to ____?
universe is to planet as house is to ____?
poverty is to wealth as sickness is to ___?
a. Complete the above sentences with your own word analogies. Use the Word2Vec model to find the
similarity measure between your pair of words. Provide your results.
Example:
man is to woman as king is to _queen__?
newmodel.similarity('king', 'queen') -> 0.5685571
b. Use the Word2Vec model to find the word analogy and corresponding similarity score. Provide
your results.
Example:

In [ ]:
from gensim.models import KeyedVectors
from tabulate import tabulate

my_model = KeyedVectors.load_word2vec_format('reducedvector.bin', binary=True)

pairs = [('judge', 'bench'),
         ('genius', 'moron'),
         ('jail', 'warden'),
         ('line', 'angle'),
         ('Dutch', 'Flanders'),
         ('king', 'queen'),
         ('liquid', 'ice'),
         ('sad', 'happy'),
         ('teacher', 'school'),
         ('japan', 'sushi'),
         ('dog', 'kennel'),
         ('sky', 'blue'),
         ('computer', 'disk'),
         ('house', 'estate'),
         ('sickness', 'health')]

results = []
for pair in pairs:
  try:
    similarity = my_model.similarity(pair[0], pair[1])
    results.append([pair[0], pair[1], similarity])
  except KeyError:
    continue


print(tabulate(results, headers=['Word 1', 'Word 2', 'Similarity']))

Word 1    Word 2      Similarity
--------  --------  ------------
judge     bench        0.302673
genius    moron        0.128466
jail      warden       0.277774
line      angle        0.287782
king      queen        0.568557
liquid    ice          0.293175
sad       happy        0.448851
teacher   school       0.532657
japan     sushi        0.0118663
dog       kennel       0.28416
sky       blue         0.44397
computer  disk         0.358941
house     estate       0.207919
sickness  health       0.195276

In [ ]:
import gensim
import pandas as pd
from tabulate import tabulate

# load the pre-trained Word2Vec model
model = gensim.models.KeyedVectors.load_word2vec_format('reducedvector.bin', binary=True)

# create a list of word pairs
word_pairs = [('judge', 'bench'), 
              ('genius', 'moron'), 
              ('jail', 'warden'), 
              ('line', 'angle'), 
              ('Dutch', 'Netherlands'), 
              ('king', 'queen'), 
              ('liquid', 'ice'), 
              ('sad', 'happy'), 
              ('teacher', 'school'), 
              ('japan', 'sushi'), 
              ('dog', 'kennel'), 
              ('sky', 'blue'), 
              ('computer', 'disk'), 
              ('house', 'estate'), 
              ('sickness', 'health')]

# create an empty Pandas dataframe
df = pd.DataFrame(columns=['word_pair', 'similarity'])

# loop through the word pairs and calculate the similarity measure
for pair in word_pairs:
  try:
    similarity = model.similarity(pair[0], pair[1])
    df = df.append({'word_pair': pair, 'similarity': similarity}, ignore_index=True)
  except KeyError:
    continue

# print the similarity measure values in a tabular format
print(tabulate(df, headers='keys', tablefmt='psql'))

# print the dataframe
df

+----+------------------------+--------------+
|    | word_pair              |   similarity |
|----+------------------------+--------------|
|  0 | ('judge', 'bench')     |    0.302673  |
|  1 | ('genius', 'moron')    |    0.128466  |
|  2 | ('jail', 'warden')     |    0.277774  |
|  3 | ('line', 'angle')      |    0.287782  |
|  4 | ('king', 'queen')      |    0.568557  |
|  5 | ('liquid', 'ice')      |    0.293175  |
|  6 | ('sad', 'happy')       |    0.448851  |
|  7 | ('teacher', 'school')  |    0.532657  |
|  8 | ('japan', 'sushi')     |    0.0118663 |
|  9 | ('dog', 'kennel')      |    0.28416   |
| 10 | ('sky', 'blue')        |    0.44397   |
| 11 | ('computer', 'disk')   |    0.358941  |
| 12 | ('house', 'estate')    |    0.207919  |
| 13 | ('sickness', 'health') |    0.195276  |
+----+------------------------+--------------+

             word_pair  similarity
0       (judge, bench)    0.302673
1      (genius, moron)    0.128466
2       (jail, warden)    0.277774
3        (line, angle)    0.287782
4        (king, queen)    0.568557
5        (liquid, ice)    0.293175
6         (sad, happy)    0.448851
7    (teacher, school)    0.532657
8       (japan, sushi)    0.011866
9        (dog, kennel)    0.284160
10         (sky, blue)    0.443970
11    (computer, disk)    0.358941
12     (house, estate)    0.207919
13  (sickness, health)    0.195276

In [ ]:
from gensim.models import KeyedVectors

# Load the pretrained Word2Vec model
model = KeyedVectors.load_word2vec_format('reducedvector.bin', binary=True)

# Define the sentences and their corresponding word analogies
sentences = [
    ('king', 'throne', 'judge'),
    ('giant', 'dwarf', 'genius'),
    ('college', 'dean', 'jail'),
    ('arc', 'circle', 'line'),
    ('French', 'France', 'Dutch'),
    ('man', 'woman', 'king'),
    ('water', 'ice', 'liquid'),
    ('bad', 'good', 'sad'),
    ('nurse', 'hospital', 'teacher'),
    ('usa', 'pizza', 'japan'),
    ('human', 'house', 'dog'),
    ('grass', 'green', 'sky'),
    ('video', 'cassette', 'computer'),
    ('universe', 'planet', 'house'),
    ('poverty', 'wealth', 'sickness')
]

# Find the word analogies and their corresponding similarity scores
for s in sentences:
  try:
    analogy = model.most_similar(positive=[s[2], s[1]], negative=[s[0]])
    print("{} is to {} as {} is to {}: {:.2f}".format(s[0], s[1], s[2], analogy[0][0], analogy[0][1]))
  except KeyError:
    continue

king is to throne as judge is to prosecution: 0.52
giant is to dwarf as genius is to theorist: 0.43
college is to dean as jail is to peress: 0.54
arc is to circle as line is to lines: 0.43
man is to woman as king is to queen: 0.55
water is to ice as liquid is to solid: 0.45
bad is to good as sad is to glory: 0.44
nurse is to hospital as teacher is to institution: 0.48
usa is to pizza as japan is to dishes: 0.58
human is to house as dog is to hound: 0.42
grass is to green as sky is to blue: 0.55
video is to cassette as computer is to peripherals: 0.67
universe is to planet as house is to houses: 0.43
poverty is to wealth as sickness is to impious: 0.50

In [ ]:
import pandas as pd
import gensim

# load the pretrained Word2Vec model
model = gensim.models.KeyedVectors.load_word2vec_format('reducedvector.bin', binary=True)

# define the list of word analogies
word_analogies = [
    ('king', 'throne', 'judge'),
    ('giant', 'dwarf', 'genius'),
    ('college', 'dean', 'jail'),
    ('arc', 'circle', 'line'),
    ('French', 'France', 'Dutch'),
    ('man', 'woman', 'king'),
    ('water', 'ice', 'liquid'),
    ('bad', 'good', 'sad'),
    ('nurse', 'hospital', 'teacher'),
    ('usa', 'pizza', 'japan'),
    ('human', 'house', 'dog'),
    ('grass', 'green', 'sky'),
    ('video', 'cassette', 'computer'),
    ('universe', 'planet', 'house'),
    ('poverty', 'wealth', 'sickness')
]

# create a dataframe to store the results
result_df = pd.DataFrame(columns=['word_analogy', 'most_similar_word', 'similarity_score'])

# loop through each word analogy and find the most similar word
for word_analogy in word_analogies:
    # extract the three words in the analogy
    word1, word2, word3 = word_analogy
    
    try:
      # find the most similar word for the analogy
      most_similar_word, similarity_score = model.most_similar(positive=[word3, word2], negative=[word1])[0]

      # add the results to the dataframe
      result_df = result_df.append({
          'word_analogy': f'{word1} is to {word2} as {word3} is to ___?',
          'most_similar_word': most_similar_word,
          'similarity_score': similarity_score
      }, ignore_index=True)
    except KeyError:
      continue
    
    

# print the results
result_df

,word_analogy,most_similar_word,similarity_score
0,king is to throne as judge is to ___?,prosecution,0.518646
1,giant is to dwarf as genius is to ___?,theorist,0.428089
2,college is to dean as jail is to ___?,peress,0.544443
3,arc is to circle as line is to ___?,lines,0.428753
4,man is to woman as king is to ___?,queen,0.553245
5,water is to ice as liquid is to ___?,solid,0.450004
6,bad is to good as sad is to ___?,glory,0.440382
7,nurse is to hospital as teacher is to ___?,institution,0.482898
8,usa is to pizza as japan is to ___?,dishes,0.576351
9,human is to house as dog is to ___?,hound,0.423166
10,grass is to green as sky is to ___?,blue,0.547864
11,video is to cassette as computer is to ___?,peripherals,0.665451
12,universe is to planet as house is to ___?,houses,0.426470
13,poverty is to wealth as sickness is to ___?,impious,0.496061

In [ ]:
df.dtypes

word_pair      object
similarity    float32
dtype: object

In [ ]:
result_df.dtypes

word_analogy          object
most_similar_word     object
similarity_score     float64
dtype: object

In [ ]:
import pandas as pd
from tabulate import tabulate

# convert the float32 column to float64 using astype
df['similarity'] = df['similarity'].astype('float64')

# compute the correlation using the corr method
correlation = df['similarity'].corr(result_df['similarity_score'])

# display the results using tabulate
print(tabulate([["Correlation", correlation]], headers=["Metric", "Value"], tablefmt="orgtbl"))

| Metric      |    Value |
|-------------+----------|
| Correlation | 0.119729 |

##**Task Set #2: For this part of the assignment, we will work with the UTK dataset (UTKface_cropped.tar.gz) available on Canvas and based on the original UTKFace dataset (https://susanqq.github.io/UTKFace/)**

##Q1: 
Each image in the dataset has a unique value representing age, gender, and race based on the
following legend:
● age: indicates the age of the person in the picture and can range from 0 to 116.
● gender: indicates the gender of the person and is either 0 (male) or 1 (female).
● race: indicates the race of the person and can from 0 to 4, denoting White, Black, Asian, Indian,
and Others (like Hispanic, Latino, Middle Eastern).
Complete and answer the following:
• Compute and document the frequency of images associated with each subgroup for age
(subdivide based on - (0-20), (21,40), (41,60), (61,80), (81, 116)), gender (0,1), and race (0 to 4).

In [ ]:
import zipfile
import pandas as pd
from collections import defaultdict

# Step 1: Unzip and open the crop_part1.zip zipped folder
with zipfile.ZipFile('crop_part1.zip', 'r') as zip_ref:
    zip_ref.extractall()

# Step 2: Create age bins of 0-20, 21-40, 41-60, 61-80 and 81-116
age_bins = {'0-20': range(0, 21), '21-40': range(21, 41), '41-60': range(41, 61), 
            '61-80': range(61, 81), '81-116': range(81, 117)}

# Step 3: Create gender bins or classifications. 0 represents male while 1 represents female
gender_bins = {0: 'male', 1: 'female'}

# Step 4: Create race bins of 0 to 4. 0 denotes White, 1 denotes Black, 2 denotes Asian, 3 denotes Indian, 4 denotes Others
race_bins = {0: 'White', 1: 'Black', 2: 'Asian', 3: 'Indian', 4: 'Others'}

# Step 5: Loop through all the file names and group by age and gender
age_gender_counts = defaultdict(lambda: defaultdict(int))
for file_name in os.listdir('crop_part1'):
    age = int(file_name.split('_')[0])
    gender = int(file_name.split('_')[2])
    for age_bin_name, age_bin_range in age_bins.items():
        if age in age_bin_range:
          try:
            gender_bin_name = gender_bins[gender]
            age_gender_counts[age_bin_name][gender_bin_name] += 1
            break
          except KeyError:
            continue

# Step 6: Loop through all the file names and group by age and race
age_race_counts = defaultdict(lambda: defaultdict(int))
for file_name in os.listdir('crop_part1'):
    age = int(file_name.split('_')[0])
    race = int(file_name.split('_')[3])
    for age_bin_name, age_bin_range in age_bins.items():
        if age in age_bin_range:
          try:
            race_bin_name = race_bins[race]
            age_race_counts[age_bin_name][race_bin_name] += 1
            break
          except KeyError:
            continue

# Step 7: Create dataframes
df_age_gender_counts = pd.DataFrame(age_gender_counts).T
df_age_race_counts = pd.DataFrame(age_race_counts).T

ValueError: ignored

In [ ]:
# Step 8: Display the age/gender dataframe
print("Age and Gender Counts:")
df_age_gender_counts

In [ ]:
# Step 8: Display the age/race dataframe
print("\nAge and Race Counts:")
df_age_race_counts

In [ ]:
import os
import zipfile
import pandas as pd

# set up age, gender, and race bins
age_bins = [0, 20, 40, 60, 80, 116]
gender_bins = [0, 1]
race_bins = [0, 1, 2, 3, 4]

# create dictionary to hold age and gender counts
age_gender_counts = {}
for i in range(len(age_bins)-1):
    age_gender_counts[i] = {'M': 0, 'F': 0}

# create dictionary to hold age and race counts
age_race_counts = {}
for i in range(len(age_bins)-1):
    age_race_counts[i] = {'W': 0, 'B': 0, 'A': 0, 'I': 0, 'O': 0}

# unzip the dataset
with zipfile.ZipFile('crop_part1.zip', 'r') as zip_ref:
    zip_ref.extractall('crop_part1')

# loop through all file names and count age, gender, and race
for file_name in os.listdir('crop_part1'):
    if file_name.endswith('.jpg'):
        age = int(file_name.split('_')[0])
        gender = int(file_name.split('_')[1])
        race = int(file_name.split('_')[2])

        # count age and gender
        for i in range(len(age_bins)-1):
            if age >= age_bins[i] and age < age_bins[i+1]:
                if gender == 0:
                    age_gender_counts[i]['M'] += 1
                elif gender == 1:
                    age_gender_counts[i]['F'] += 1

        # count age and race
        for i in range(len(age_bins)-1):
            if age >= age_bins[i] and age < age_bins[i+1]:
                if race == 0:
                    age_race_counts[i]['W'] += 1
                elif race == 1:
                    age_race_counts[i]['B'] += 1
                elif race == 2:
                    age_race_counts[i]['A'] += 1
                elif race == 3:
                    age_race_counts[i]['I'] += 1
                elif race == 4:
                    age_race_counts[i]['O'] += 1

# create dataframes for age and gender counts
age_gender_df = pd.DataFrame(age_gender_counts).T
age_gender_df.index = ['0-20', '21-40', '41-60', '61-80', '81-116']
age_gender_df.columns = ['Male', 'Female']

# create dataframes for age and race counts
age_race_df = pd.DataFrame(age_race_counts).T
age_race_df.index = ['0-20', '21-40', '41-60', '61-80', '81-116']
age_race_df.columns = ['White', 'Black', 'Asian', 'Indian', 'Others']

# display dataframes
print('Age and Gender Counts:\n', age_gender_df)
print('\nAge and Race Counts:\n', age_race_df)

Age and Gender Counts:
         Male  Female
0-20    1921    2243
21-40    871    1680
41-60    924     689
61-80    509     524
81-116   147     270

Age and Race Counts:
         White  Black  Asian  Indian  Others
0-20     1888    159   1002     591     524
21-40    1021     98    357     606     469
41-60    1187     71     92     166      97
61-80     853     57     47      66      10
81-116    316     20     55      23       3